.create-forum-container {
    margin-left:25%;
    margin-top: 10px;
    --post-line-color: #f54943;
    border: 1px solid  #f54943;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #f54943;
    position: relative;
    border-radius: 4px;
    padding: 5px;
  }
  
  .create-forum-heading {
    font-size: 18px;
    margin-left: 40%;
    font-weight: 500;
    line-height: 22px;
    color: #f54943;
    -ms-flex: 1;
    flex: 1;
  }
  
  .btnCreateForum {
    background-color:red;
    border-color:red;
    color: aliceblue;
    fill: red;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    width: 288px;
    height: 44px;
  }
  
  .btnDiscard {
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    width: 288px;
    height: 44px;
    margin-top: 5px;
    color: red;
    background-color: transparent;
  }
  
  .guidelines {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #f54943;
  }
  
  .sidebar {
    width: 312px;
    height: 242px;
    --post-line-color: #f54943;
    border: 1px solid #f54943;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }